<form id="petition" method="post">
    <p>Pick up the piles of your dogs in Moabit!
        <br />Sign our petition!<br />
        It stands in meadows, on house walls, even in the middle of the
        sidewalk.
        <br />Anyone who leaves dog poo is not only inconsiderate towards
        people.
    </p>
    
    <div id="submit">
        <canvas id="canvas"></canvas>
        <p id="sign">Sign here</p>
        <input type="hidden" name="signature">
        <button>SUBMIT</button>
    </div>
</form>
<div id="editButton">
<a href="/profile/editing"><button>EDIT PROFILE</button></a>
<a href="/"><button>LOG OUT</button></a>
</div>
<script src="script.js"></script>