<form id="profile" method="post">
    <p>Please tell us a little bit more about yourself:</p>

    <div class="login">

        <p id="name">
            <input type="text" name="age" size="40" /><br />
            Age
        </p>
        <p id="name">
            <input type="text" name="city" size="40" /><br />
            City
        </p>
        <p id="name">
            <input type="url" name="url" size="40" /><br />
            Homepage
        </p>
    </div>
    <button>CONTINUE</button>
</form>
<div id="editButton">
<a href="/profile/editing"><button>EDIT PROFILE</button></a>
<a href="/"><button>LOG OUT</button></a>
</div>