<form id="signup" method="post">

    <p>
        <br />Sign our petition!<br />
    </p>
    <p>
        Dog poop everywhere in Berlin.
        <br />Are your shoes clean? It's not for long!
    </p>

    <div class="login">

        <p id="name">
            <input type="text" name="firstname" size="40" /><br />
            First Name
        </p>
        <p id="name">
            <input type="text" name="lastname" size="40" /><br />
            Last Name
        </p>
        <p id="name">
            <input type="text" name="email" size="40" /><br />
            E-mail
        </p>
        <p id="name">
            <input type="password" name="password" size="40" /><br />
            Password
        </p>
    </div>

    {{#if err}}

        <p>Ups, all fields must be filled!</p>

    {{/if}}

    {{#if err2}}

        <p>Ups, this e-mail is already exist! Please,<a href="/login">log in</a>
            or choose another email.</p>

    {{/if}}

    <button>SIGN UP</button>

    <p>If you are already a member, please <a href="/login">log in</a>.</p>

</form>