<p>Thank you {{foundName}} for your support!</p>

<img src="{{imgData}}" alt="" />

<a href="/signers">"See all signers"</a>
<div id="editButton">
    <a href="/profile/editing"><button>EDIT PROFILE</button></a>
    <a href="/"><button>LOG OUT</button></a>
</div>
<form id="delete" method="post" action="/unsign">
    <button>DELETE SIGNATURE</button>
</form>