body {
    background-color: rgba(144, 65, 29, 0.838);
    text-align: center;
}

* {
    box-sizing: border-box;
}

#canvas {
    background-color: azure;
    /* cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>✍️</text></svg>")
            5 25,
        auto; */
}

input {
    background-color: azure;
    color: black;
    padding: 4px;
    margin: 6px;
}

#logo {
    height: 175px;
    width: 175px;
    text-align: center;
    margin-top: 40px;
}

#a {
    height: 100px;
    width: 100px;
    position: fixed;
    top: 240px;
    left: 70px;
}

#b {
    height: 120px;
    width: 150px;
    position: fixed;
    left: 250;
    top: 400;
}

#c {
    height: 80px;
    width: 80px;
    position: fixed;
    right: 100;
    bottom: 120;
}

p {
    text-align: center;
    font-size: 24px;
    color: azure;
    margin: 4;
}
#submit {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

button {
    margin: 2px;
    font-size: 16px;
    border-radius: 15px;
    padding: 7px;
    color: rgb(245, 243, 243);
    background-color: rgb(76, 75, 75);

    font-weight: bold;
}

#sign {
    font-size: 16px;
    margin-top: 3px;
    color: black;
}
#name {
    font-size: 18px;
    color: black;
}
.name {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.login {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#petition {
    text-align: center;
}

#allSigners {
    font-style: italic;
    font-size: 18px;
    color: black;
}

#editname input {
    color: gray;
}

input[type="submit"] {
    position: absolute;
    top: 10;
    right: 10;
    margin: 2px;
    font-size: 16px;
    border-radius: 15px;
    padding: 7px;
    color: rgb(245, 243, 243);
    background-color: rgb(76, 75, 75);

    font-weight: bold;
}

#head {
    font-size: 30;
}

#seeSigners {
    margin-bottom: 9px;
}
a {
    color: rgb(69, 62, 109);
}
